In [1]:
import pandas as pd # type: ignore

In [2]:
ds = pd.read_csv("./INV 01 NOVEMBER.csv", sep=",")
ds.drop(columns="NO", inplace=True)
ds.dropna(inplace=True)
ds.head(10)

,ITEM CODE,ITEM NAME,UOM,GROUP,GUD1,GUD2,GUD3,GUD4,GUD5,GUD6,GUD7,DRY,BUTCHER,KIMA3,INVENTORY
0,AAU1AAC023,Aus Chl Wag Tenderloin AA5,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
1,AAU1AAC031,Aus Chl Wag Striploin Mb 6,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
2,AAU1AMG001,Aus Chl YP 2091 Rump Cap,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
3,AAU1AMG002,Aus Chl 2142 Striploin 1 Rib,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
4,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
5,AAU1CVG001,Aus Chilled Ribeye Gf (Cvg),KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
6,AAU1DAR002,Aus Chl Wag GF Rib Eye Roll AA3,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
7,AAU1HRV015,Aus Chl A 2140 Striploin,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
8,AAU1HRV021,Aus Chl A 2070 Knuckle,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0
9,AAU1HRV022,Aus Chl Bolar Blade IW Vac,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0

In [3]:
ds_gudang = ds.iloc[:,4:14]
ds_gudang

      GUD1  GUD2  GUD3  GUD4  GUD5  GUD6  GUD7  DRY  BUTCHER  KIMA3
0      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
1      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
2      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
3      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
4      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
...    ...   ...   ...   ...   ...   ...   ...  ...      ...    ...
6310   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6311   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6312   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6313   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6314   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0

[6315 rows x 10 columns]

In [4]:
df_cek_nol = (ds_gudang==0.0).all(axis="columns")
df_cek_nol

0       True
1       True
2       True
3       True
4       True
        ...
6310    True
6311    True
6312    True
6313    True
6314    True
Length: 6315, dtype: bool

In [5]:
ds_bukan_nol = ds.loc[~df_cek_nol]
ds_bukan_nol.head(10)
print(f"Item yang tidak kosong sama sekali ada: {len(ds_bukan_nol)}")

Item yang tidak kosong sama sekali ada: 753

In [6]:
ds2 = pd.read_csv('DailyReport_20251130175512.csv', sep=',')
ds2.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,-51.25,-6.176562e+06,0,0,0.0,0.0,0.0,0.0,13.85,1.669178e+06
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.000000e+00,0.0,...,0.00,0.000000e+00,0,0,0.0,0.0,0.0,0.0,0.00,0.000000e+00

In [7]:
ds2.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt'],
      dtype='object')