In [77]:
import pandas as pd # type: ignore
import numpy as np

### Drive: Import Total Inventory

In [78]:
ds = pd.read_csv("./TOTAL INV 29 NOVEMBER.csv", sep=",")
ds = ds.iloc[:,:-2]
ds.drop(columns=["NO"], inplace=True)
ds.head(2)

,ITEM CODE,ITEM NAME,UOM,GROUP,GUD1,GUD2,GUD3,GUD4,GUD5,GUD6,GUD7,DRY,BUTCHER,KIMA3,INVTR,QTY,SELISIH
0,AAU1AAC023,Aus Chl Wag Tenderloin AA5,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.00,0.0,0.00
1,AAU1AAC031,Aus Chl Wag Striploin Mb 6,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.00,0.0,0.00

In [82]:
ds = ds[~ds['ITEM NAME'].isna()]

In [ ]:
ds['INVTR'] = ds['INVTR'].str.replace(pat=",",repl="",regex=False)
ds['SELISIH'] = ds['SELISIH'].str.replace(pat=",",repl="",regex=False)

In [ ]:
ds[ds['SELISIH'] == "#VALUE!"]

,ITEM CODE,ITEM NAME,UOM,GROUP,GUD1,GUD2,GUD3,GUD4,GUD5,GUD6,GUD7,DRY,BUTCHER,KIMA3,INVTR,QTY,SELISIH
3705,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
3706,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
3707,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
3708,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
3709,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
5996,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
5997,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
5998,NaN,NaN,NaN,NaN,0.000,0.00,0.0,0.000,0.00,0,0.00,0.00,0.00,0,0.00,NaN,#VALUE!
6659,NaN,NaN,NaN,NaN,58093.675,495.75,69447.6,32574.422,59206.37,0,187001.72,32589.08,4068.86,0,443477.48,437912.167,#VALUE!

In [ ]:
ds.astype(dtype = {
    "ITEM CODE": "object",
    "ITEM NAME": "object",
    "UOM": "object",
    "GROUP": "object",
    "GUD1": "float64",
    "GUD2": "float64",
    "GUD3": "float64",
    "GUD4": "float64",
    "GUD5": "float64",
    "GUD6": "float64",
    "GUD7": "float64",
    "DRY": "float64",
    "BUTCHER": "float64",
    "KIMA3": "float64",
    "INVTR": "float64",
    "QTY": "float64",
    "SELISIH": "float64"
})

ValueError: could not convert string to float: '#VALUE!': Error while type casting for column 'SELISIH'

### Drive: Check Berapa Banyak Item yang Tidak Kosong Sama Sekali

In [ ]:
ds_gudang = ds.iloc[:,4:14]
ds_gudang

Empty DataFrame
Columns: [GUD1, GUD2, GUD3, GUD4, GUD5, GUD6, GUD7, DRY, BUTCHER, KIMA3]
Index: []

In [ ]:
df_cek_nol = (ds_gudang==0.0).all(axis="columns")
df_cek_nol

Series([], dtype: bool)

In [ ]:
ds_bukan_nol = ds.loc[~df_cek_nol]
ds_bukan_nol.head(10)
print(f"Item yang tidak kosong sama sekali ada: {len(ds_bukan_nol)}")

Item yang tidak kosong sama sekali ada: 0

### CNW: Data CNW

In [ ]:
ds2 = pd.read_csv('DailyReport_20251130175512.csv', sep=',')
ds2.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,-51.25,-6.176562e+06,0,0,0.0,0.0,0.0,0.0,13.85,1.669178e+06
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.000000e+00,0.0,...,0.00,0.000000e+00,0,0,0.0,0.0,0.0,0.0,0.00,0.000000e+00

In [ ]:
ds2.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt'],
      dtype='object')

In [ ]:
ds2_adj_negatif = ds2[ds2['AdjustmentQty'] < 0]
ds2_adj_negatif.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
25,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2AMH015,Aus Frz Striploin Amh,106.28,1.616799e+07,0.0,...,-19.33,-2.940602e+06,0,0,-47.39,-7.209267e+06,0.72,109530.9559,40.28,6.127648e+06
36,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2AMH029,Aus Frz A Striploin AMH,64.48,1.031170e+07,94.1,...,-39.17,-6.264466e+06,0,0,-47.43,-7.587257e+06,0.00,0.0000,71.98,1.151598e+07

In [ ]:
ds2_adj_positif = ds2[ds2['AdjustmentQty'] >= 0]
ds2_adj_positif.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,-51.25,-6.176562e+06,0,0,0.0,0.0,0.0,0.0,13.85,1.669178e+06
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.000000e+00,0.0,...,0.00,0.000000e+00,0,0,0.0,0.0,0.0,0.0,0.00,0.000000e+00

In [ ]:
ds_bukan_nol.columns

Index(['ITEM CODE', 'ITEM NAME', 'UOM', 'GROUP', 'GUD1', 'GUD2', 'GUD3',
       'GUD4', 'GUD5', 'GUD6', 'GUD7', 'DRY', 'BUTCHER', 'KIMA3', 'INVTR',
       'QTY', 'SELISIH'],
      dtype='object')

### Join: Gabungkan CNW dan Drive

In [ ]:
gudang_cols = []
for x in ds_gudang.columns:
    gudang_cols.append(x)
print(gudang_cols)

['GUD1', 'GUD2', 'GUD3', 'GUD4', 'GUD5', 'GUD6', 'GUD7', 'DRY', 'BUTCHER', 'KIMA3']

In [ ]:
ds_total = ds.drop(labels=gudang_cols, axis = "columns")
ds_total.head(2)

Empty DataFrame
Columns: [ITEM CODE, ITEM NAME, UOM, GROUP, INVTR, QTY, SELISIH]
Index: []

In [ ]:
ds_merge = ds2.merge(ds_total, left_on=['ITEMCODE', 'ITEMNAME'], right_on=['ITEM CODE', 'ITEM NAME'])
ds_merge.drop(columns=['ITEM CODE', 'ITEM NAME', 'UOM','GROUP'], inplace = True) 
ds_merge.head(1)

Empty DataFrame
Columns: [Company, DateFrom, Dateto, u_GROUP, U_SUBGROUP, ITEMCODE, ITEMNAME, OpeningBalanceQty, OpeningBalanceAmt, PembelianQty, PembelianAmt, PenjualanQty, PenjualanAmt, InventoryTransferQty, InventoryTransferAmt, AdjustmentQty, AdjustmentAmt, SAPOpnameQty, SAPOpnameAmt, EndingBalanceQty, EndingBalanceAmt, INVTR, QTY, SELISIH]
Index: []

[0 rows x 24 columns]

### Move: INVTR, QTY, SELISIH

In [ ]:
ds_sementara = ds_merge[['INVTR', 'QTY', 'SELISIH']]
ds_merge.drop(columns=['INVTR', 'QTY', 'SELISIH'], inplace = True)

### Add: New Columns StokIn, StokOut, EndingBalanceSeharusnya

In [ ]:
ds_merge[['StokIn','StokOut','EndingBalanceSeharusnya']] = 0
ds_merge[['INVTR', 'QTY', 'SELISIH']] = ds_sementara
ds_merge.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt',
       'StokIn', 'StokOut', 'EndingBalanceSeharusnya', 'INVTR', 'QTY',
       'SELISIH'],
      dtype='object')

In [ ]:
ds_stok_in =  ds_merge[(ds_merge['AdjustmentQty'] > 0) & (ds_merge['SAPOpnameQty'] > 0)].copy()
ds_stok_out = ds_merge[(ds_merge['AdjustmentQty'] < 0) & (ds_merge['SAPOpnameQty'] < 0)].copy()
ds_stok_in['ITEMCODE'].isin(ds_stok_out['ITEMCODE']).astype('string') #Check kalau baku

Series([], Name: ITEMCODE, dtype: string)

In [ ]:
print(ds_stok_in.info())
print(ds_stok_out.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  0 non-null      object
 1   DateFrom                 0 non-null      int64
 2   Dateto                   0 non-null      int64
 3   u_GROUP                  0 non-null      object
 4   U_SUBGROUP               0 non-null      object
 5   ITEMCODE                 0 non-null      object
 6   ITEMNAME                 0 non-null      object
 7   OpeningBalanceQty        0 non-null      float64
 8   OpeningBalanceAmt        0 non-null      float64
 9   PembelianQty             0 non-null      float64
 10  PembelianAmt             0 non-null      float64
 11  PenjualanQty             0 non-null      float64
 12  PenjualanAmt             0 non-null      float64
 13  InventoryTransferQty     0 non-null      int64
 14  InventoryTransferAmt     0 non-null      int64
 15  AdjustmentQty            0 non-null      float64
 16  AdjustmentAmt            0 non-null      float64
 17  SAPOpnameQty             0 non-null      float64
 18  SAPOpnameAmt             0 non-null      float64
 19  EndingBalanceQty         0 non-null      float64
 20  EndingBalanceAmt         0 non-null      float64
 21  StokIn                   0 non-null      int64
 22  StokOut                  0 non-null      int64
 23  EndingBalanceSeharusnya  0 non-null      int64
 24  INVTR                    0 non-null      object
 25  QTY                      0 non-null      float64
 26  SELISIH                  0 non-null      object
dtypes: float64(13), int64(7), object(7)
memory usage: 132.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  0 non-null      object
 1   DateFrom                 0 non-null      int64
 2   Dateto                   0 non-null      int64
 3   u_GROUP                  0 non-null      object
 4   U_SUBGROUP               0 non-null      object
 5   ITEMCODE                 0 non-null      object
 6   ITEMNAME                 0 non-null      object
 7   OpeningBalanceQty        0 non-null      float64
 8   OpeningBalanceAmt        0 non-null      float64
 9   PembelianQty             0 non-null      float64
 10  PembelianAmt             0 non-null      float64
 11  PenjualanQty             0 non-null      float64
 12  PenjualanAmt             0 non-null      float64
 13  InventoryTransferQty     0 non-null      int64
 14  InventoryTransferAmt     0 non-null      int64
 15  AdjustmentQty            0 non-null      float64
 16  AdjustmentAmt            0 non-null      float64
 17  SAPOpnameQty             0 non-null      float64
 18  SAPOpnameAmt             0 non-null      float64
 19  EndingBalanceQty         0 non-null      float64
 20  EndingBalanceAmt         0 non-null      float64
 21  StokIn                   0 non-null      int64
 22  StokOut                  0 non-null      int64
 23  EndingBalanceSeharusnya  0 non-null      int64
 24  INVTR                    0 non-null      object
 25  QTY                      0 non-null      float64
 26  SELISIH                  0 non-null      object
dtypes: float64(13), int64(7), object(7)
memory usage: 132.0+ bytes
None

In [ ]:
#Check baku timpa
ds_stok_in[ds_stok_in['ITEMCODE'].isin(ds_stok_out['ITEMCODE'])]['AdjustmentQty']

Series([], Name: AdjustmentQty, dtype: float64)

In [ ]:
ds_stok_in['StokIn'] = ds_stok_in['PembelianQty'] +  ds_stok_in['AdjustmentQty'] +  ds_stok_in['SAPOpnameQty']
ds_stok_out['StokOut'] = ds_stok_out['PenjualanQty'] +  ds_stok_out['AdjustmentQty'] +  ds_stok_out['SAPOpnameQty']

In [ ]:
ds_stok_out.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt',
       'StokIn', 'StokOut', 'EndingBalanceSeharusnya', 'INVTR', 'QTY',
       'SELISIH'],
      dtype='object')

In [ ]:
ds_stok_out.columns == ds_stok_in.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [ ]:
list_columns_merge = ds_stok_out.columns.tolist()

In [ ]:
ds_merge.dtypes

Company                     object
DateFrom                     int64
Dateto                       int64
u_GROUP                     object
U_SUBGROUP                  object
ITEMCODE                    object
ITEMNAME                    object
OpeningBalanceQty          float64
OpeningBalanceAmt          float64
PembelianQty               float64
PembelianAmt               float64
PenjualanQty               float64
PenjualanAmt               float64
InventoryTransferQty         int64
InventoryTransferAmt         int64
AdjustmentQty              float64
AdjustmentAmt              float64
SAPOpnameQty               float64
SAPOpnameAmt               float64
EndingBalanceQty           float64
EndingBalanceAmt           float64
StokIn                       int64
StokOut                      int64
EndingBalanceSeharusnya      int64
INVTR                       object
QTY                        float64
SELISIH                     object
dtype: object

In [ ]:
#Alternatives karena merging nilai float bisa dibulatkan dan tidak akurat.
ds_stok_in = ds_stok_in.astype(dtype='str')
ds_stok_out = ds_stok_out.astype(dtype='str')
ds_merge = ds_merge.astype(dtype='str')

In [ ]:
ds_merge.merge(right=ds_stok_in, how='left', left_on=list_columns_merge, right_on=list_columns_merge)
ds_merge.merge(right=ds_stok_out, how='left', left_on=list_columns_merge, right_on=list_columns_merge)

Empty DataFrame
Columns: [Company, DateFrom, Dateto, u_GROUP, U_SUBGROUP, ITEMCODE, ITEMNAME, OpeningBalanceQty, OpeningBalanceAmt, PembelianQty, PembelianAmt, PenjualanQty, PenjualanAmt, InventoryTransferQty, InventoryTransferAmt, AdjustmentQty, AdjustmentAmt, SAPOpnameQty, SAPOpnameAmt, EndingBalanceQty, EndingBalanceAmt, StokIn, StokOut, EndingBalanceSeharusnya, INVTR, QTY, SELISIH]
Index: []

[0 rows x 27 columns]

In [ ]:
ds_merge = ds_merge.astype({
    "Company":                     "object",
    "DateFrom":                    "int64",
    "Dateto":                      "int64",
    "u_GROUP":                     "object",
    "U_SUBGROUP":                  "object",
    "ITEMCODE":                    "object",
    "ITEMNAME":                    "object",
    "OpeningBalanceQty":           "float64",
    "OpeningBalanceAmt":           "float64",
    "PembelianQty":                "float64",
    "PembelianAmt":                "float64",
    "PenjualanQty":                "float64",
    "PenjualanAmt":                "float64",
    "InventoryTransferQty":        "float64",
    "InventoryTransferAmt":        "float64",
    "AdjustmentQty":               "float64",
    "AdjustmentAmt":               "float64",
    "SAPOpnameQty":                "float64",
    "SAPOpnameAmt":                "float64",
    "EndingBalanceQty":            "float64",
    "EndingBalanceAmt":            "float64",
    "StokIn":                      "float64",
    "StokOut":                     "float64",
    "EndingBalanceSeharusnya":     "float64",
    "INVTR":                       "float64",
    "QTY":                         "float64",
    "SELISIH":                     "float64"
})
ds_merge.dtypes

Company                     object
DateFrom                     int64
Dateto                       int64
u_GROUP                     object
U_SUBGROUP                  object
ITEMCODE                    object
ITEMNAME                    object
OpeningBalanceQty          float64
OpeningBalanceAmt          float64
PembelianQty               float64
PembelianAmt               float64
PenjualanQty               float64
PenjualanAmt               float64
InventoryTransferQty       float64
InventoryTransferAmt       float64
AdjustmentQty              float64
AdjustmentAmt              float64
SAPOpnameQty               float64
SAPOpnameAmt               float64
EndingBalanceQty           float64
EndingBalanceAmt           float64
StokIn                     float64
StokOut                    float64
EndingBalanceSeharusnya    float64
INVTR                      float64
QTY                        float64
SELISIH                    float64
dtype: object

In [ ]:
ds_merge['EndingBalanceSeharusnya'] = ds_merge['OpeningBalanceQty'] + ds_merge['StokIn'] + ds_merge['StokOut']
ds_merge.sample(n=2)

ValueError: a must be greater than 0 unless no samples are taken