In [21]:
import pandas as pd # type: ignore
import numpy as np

### Drive: Import Total Inventory

In [22]:
ds = pd.read_csv("./TOTAL INV 29 NOVEMBER KET.csv", sep=",")
# ds = ds.iloc[:,:-2]
# ds.drop(columns=["NO"], inplace=True)
ds.head(2)

,ITEM CODE,ITEM NAME,UOM,GROUP,GUD1,GUD2,GUD3,GUD4,GUD5,GUD6,GUD7,DRY,BUTCHER,KIMA3,INVTR,QTY,SELISIH,KET
0,AAU1AAC023,Aus Chl Wag Tenderloin AA5,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.00,0.0,0.00,NaN
1,AAU1AAC031,Aus Chl Wag Striploin Mb 6,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.00,0.0,0.00,NaN

#### Bersihkan (,)

In [23]:
ds = ds[~ds['ITEM NAME'].isna()]

In [24]:
ds['INVTR'] = ds['INVTR'].str.replace(pat=",",repl="",regex=False)
ds['SELISIH'] = ds['SELISIH'].str.replace(pat=",",repl="",regex=False)

In [25]:
ds[ds['SELISIH'] == "#VALUE!"]

Empty DataFrame
Columns: [ITEM CODE, ITEM NAME, UOM, GROUP, GUD1, GUD2, GUD3, GUD4, GUD5, GUD6, GUD7, DRY, BUTCHER, KIMA3, INVTR, QTY, SELISIH, KET]
Index: []

#### Konversi jadi float

In [26]:
ds.astype(dtype = {
    "ITEM CODE": "object",
    "ITEM NAME": "object",
    "UOM": "object",
    "GROUP": "object",
    "GUD1": "float64",
    "GUD2": "float64",
    "GUD3": "float64",
    "GUD4": "float64",
    "GUD5": "float64",
    "GUD6": "float64",
    "GUD7": "float64",
    "DRY": "float64",
    "BUTCHER": "float64",
    "KIMA3": "float64",
    "INVTR": "float64",
    "QTY": "float64",
    "SELISIH": "float64"
})

,ITEM CODE,ITEM NAME,UOM,GROUP,GUD1,GUD2,GUD3,GUD4,GUD5,GUD6,GUD7,DRY,BUTCHER,KIMA3,INVTR,QTY,SELISIH,KET
0,AAU1AAC023,Aus Chl Wag Tenderloin AA5,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,AAU1AAC031,Aus Chl Wag Striploin Mb 6,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,AAU1AMG001,Aus Chl YP 2091 Rump Cap,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,AAU1AMG002,Aus Chl 2142 Striploin 1 Rib,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,KG,MEAT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6654,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6655,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6656,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6657,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
6658,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

### Drive: Check Berapa Banyak Item yang Tidak Kosong Sama Sekali

In [27]:
ds_gudang = ds.iloc[:,4:14]
ds_gudang

      GUD1  GUD2  GUD3  GUD4  GUD5  GUD6  GUD7  DRY  BUTCHER  KIMA3
0      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
1      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
2      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
3      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
4      0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
...    ...   ...   ...   ...   ...   ...   ...  ...      ...    ...
6654   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6655   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6656   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6657   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0
6658   0.0   0.0   0.0   0.0   0.0     0   0.0  0.0      0.0      0

[4365 rows x 10 columns]

In [28]:
df_cek_nol = (ds_gudang==0.0).all(axis="columns")
df_cek_nol

0       True
1       True
2       True
3       True
4       True
        ...
6654    True
6655    True
6656    True
6657    True
6658    True
Length: 4365, dtype: bool

In [29]:
ds_bukan_nol = ds.loc[~df_cek_nol]
ds_bukan_nol.head(10)
print(f"Item yang tidak kosong sama sekali ada: {len(ds_bukan_nol)}")

Item yang tidak kosong sama sekali ada: 739

### CNW: Data CNW

In [30]:
ds2 = pd.read_csv('DailyReport_20251129150211.csv', sep=',')
ds2.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,-51.25,-6.176562e+06,0,0,0.0,0.0,0.0,0.0,13.85,1.669178e+06
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.000000e+00,0.0,...,0.00,0.000000e+00,0,0,0.0,0.0,0.0,0.0,0.00,0.000000e+00

In [31]:
ds2.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt'],
      dtype='object')

In [32]:
ds2_adj_negatif = ds2[ds2['AdjustmentQty'] < 0]
ds2_adj_negatif.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
25,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2AMH015,Aus Frz Striploin Amh,106.28,1.616799e+07,0.0,...,-19.33,-2.940602e+06,0,0,-47.39,-7.209267e+06,0.72,109530.9559,40.28,6.127648e+06
36,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2AMH029,Aus Frz A Striploin AMH,64.48,1.031170e+07,94.1,...,-39.17,-6.264466e+06,0,0,-47.43,-7.587257e+06,0.00,0.0000,71.98,1.151598e+07

In [33]:
ds2_adj_positif = ds2[ds2['AdjustmentQty'] >= 0]
ds2_adj_positif.head(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,PenjualanQty,PenjualanAmt,InventoryTransferQty,InventoryTransferAmt,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,-51.25,-6.176562e+06,0,0,0.0,0.0,0.0,0.0,13.85,1.669178e+06
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.000000e+00,0.0,...,0.00,0.000000e+00,0,0,0.0,0.0,0.0,0.0,0.00,0.000000e+00

In [34]:
ds_bukan_nol.columns

Index(['ITEM CODE', 'ITEM NAME', 'UOM', 'GROUP', 'GUD1', 'GUD2', 'GUD3',
       'GUD4', 'GUD5', 'GUD6', 'GUD7', 'DRY', 'BUTCHER', 'KIMA3', 'INVTR',
       'QTY', 'SELISIH', 'KET'],
      dtype='object')

### Join: Gabungkan CNW dan Drive

In [35]:
gudang_cols = []
for x in ds_gudang.columns:
    gudang_cols.append(x)
print(gudang_cols)

['GUD1', 'GUD2', 'GUD3', 'GUD4', 'GUD5', 'GUD6', 'GUD7', 'DRY', 'BUTCHER', 'KIMA3']

In [36]:
ds_total = ds.drop(labels=gudang_cols, axis = "columns")
ds_total.head(2)

    ITEM CODE                   ITEM NAME UOM GROUP INVTR  QTY SELISIH  KET
0  AAU1AAC023  Aus Chl Wag Tenderloin AA5  KG  MEAT  0.00  0.0    0.00  NaN
1  AAU1AAC031  Aus Chl Wag Striploin Mb 6  KG  MEAT  0.00  0.0    0.00  NaN

In [37]:
ds_merge = ds2.merge(ds_total, left_on=['ITEMCODE', 'ITEMNAME'], right_on=['ITEM CODE', 'ITEM NAME'])
ds_merge.drop(columns=['ITEM CODE', 'ITEM NAME', 'UOM','GROUP'], inplace = True) 
ds_merge.head(1)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,AdjustmentQty,AdjustmentAmt,SAPOpnameQty,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt,INVTR,QTY,SELISIH,KET
0,mks,20251101,20251129,A-MEAT,NaN,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7.845740e+06,0.0,...,0.0,0.0,0.0,0.0,13.85,1.669178e+06,12.30,13.85,-1.55,NaN

### Move: INVTR, QTY, SELISIH

In [38]:
ds_sementara = ds_merge[['INVTR', 'QTY', 'SELISIH']]
ds_merge.drop(columns=['INVTR', 'QTY', 'SELISIH'], inplace = True)

### Add: New Columns StokIn, StokOut, EndingBalanceSeharusnya

In [39]:
ds_merge[['StokIn','StokOut','EndingBalanceSeharusnya']] = 0
ds_merge[['INVTR', 'QTY', 'SELISIH']] = ds_sementara
ds_merge.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt',
       'KET', 'StokIn', 'StokOut', 'EndingBalanceSeharusnya', 'INVTR', 'QTY',
       'SELISIH'],
      dtype='object')

In [40]:
ds_stok_in =  ds_merge[(ds_merge['AdjustmentQty'] >= 0) & (ds_merge['SAPOpnameQty'] >= 0)].copy()
ds_stok_out = ds_merge[(ds_merge['AdjustmentQty'] <= 0) & (ds_merge['SAPOpnameQty'] <= 0)].copy()
ds_stok_in['ITEMCODE'].isin(ds_stok_out['ITEMCODE']).astype('string') #Check kalau baku

0        True
1        True
2        True
3        True
4        True
        ...
2408     True
2413    False
2414    False
2415    False
2417    False
Name: ITEMCODE, Length: 2314, dtype: string

In [41]:
print(ds_stok_in.info())
print(ds_stok_out.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2314 entries, 0 to 2417
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  2314 non-null   object
 1   DateFrom                 2314 non-null   int64
 2   Dateto                   2314 non-null   int64
 3   u_GROUP                  2314 non-null   object
 4   U_SUBGROUP               1083 non-null   object
 5   ITEMCODE                 2314 non-null   object
 6   ITEMNAME                 2314 non-null   object
 7   OpeningBalanceQty        2314 non-null   float64
 8   OpeningBalanceAmt        2314 non-null   float64
 9   PembelianQty             2314 non-null   float64
 10  PembelianAmt             2314 non-null   float64
 11  PenjualanQty             2314 non-null   float64
 12  PenjualanAmt             2314 non-null   float64
 13  InventoryTransferQty     2314 non-null   int64
 14  InventoryTransferAmt     2314 non-null   int64
 15  AdjustmentQty            2314 non-null   float64
 16  AdjustmentAmt            2314 non-null   float64
 17  SAPOpnameQty             2314 non-null   float64
 18  SAPOpnameAmt             2314 non-null   float64
 19  EndingBalanceQty         2314 non-null   float64
 20  EndingBalanceAmt         2314 non-null   float64
 21  KET                      15 non-null     object
 22  StokIn                   2314 non-null   int64
 23  StokOut                  2314 non-null   int64
 24  EndingBalanceSeharusnya  2314 non-null   int64
 25  INVTR                    2314 non-null   object
 26  QTY                      2314 non-null   float64
 27  SELISIH                  2314 non-null   object
dtypes: float64(13), int64(7), object(8)
memory usage: 524.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 2291 entries, 0 to 2416
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Company                  2291 non-null   object
 1   DateFrom                 2291 non-null   int64
 2   Dateto                   2291 non-null   int64
 3   u_GROUP                  2291 non-null   object
 4   U_SUBGROUP               1066 non-null   object
 5   ITEMCODE                 2291 non-null   object
 6   ITEMNAME                 2291 non-null   object
 7   OpeningBalanceQty        2291 non-null   float64
 8   OpeningBalanceAmt        2291 non-null   float64
 9   PembelianQty             2291 non-null   float64
 10  PembelianAmt             2291 non-null   float64
 11  PenjualanQty             2291 non-null   float64
 12  PenjualanAmt             2291 non-null   float64
 13  InventoryTransferQty     2291 non-null   int64
 14  InventoryTransferAmt     2291 non-null   int64
 15  AdjustmentQty            2291 non-null   float64
 16  AdjustmentAmt            2291 non-null   float64
 17  SAPOpnameQty             2291 non-null   float64
 18  SAPOpnameAmt             2291 non-null   float64
 19  EndingBalanceQty         2291 non-null   float64
 20  EndingBalanceAmt         2291 non-null   float64
 21  KET                      12 non-null     object
 22  StokIn                   2291 non-null   int64
 23  StokOut                  2291 non-null   int64
 24  EndingBalanceSeharusnya  2291 non-null   int64
 25  INVTR                    2291 non-null   object
 26  QTY                      2291 non-null   float64
 27  SELISIH                  2291 non-null   object
dtypes: float64(13), int64(7), object(8)
memory usage: 519.1+ KB
None

In [42]:
#Check baku timpa
ds_stok_in[ds_stok_in['ITEMCODE'].isin(ds_stok_out['ITEMCODE'])]['AdjustmentQty']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
2404    0.0
2405    0.0
2406    0.0
2407    0.0
2408    0.0
Name: AdjustmentQty, Length: 2202, dtype: float64

In [43]:
ds_stok_in['StokIn'] = ds_stok_in['PembelianQty'] +  ds_stok_in['AdjustmentQty'] +  ds_stok_in['SAPOpnameQty']
ds_stok_out['StokOut'] = ds_stok_out['PenjualanQty'] +  ds_stok_out['AdjustmentQty'] +  ds_stok_out['SAPOpnameQty']

In [44]:
ds_stok_out.columns

Index(['Company', 'DateFrom', 'Dateto', 'u_GROUP', 'U_SUBGROUP', 'ITEMCODE',
       'ITEMNAME', 'OpeningBalanceQty', 'OpeningBalanceAmt', 'PembelianQty',
       'PembelianAmt', 'PenjualanQty', 'PenjualanAmt', 'InventoryTransferQty',
       'InventoryTransferAmt', 'AdjustmentQty', 'AdjustmentAmt',
       'SAPOpnameQty', 'SAPOpnameAmt', 'EndingBalanceQty', 'EndingBalanceAmt',
       'KET', 'StokIn', 'StokOut', 'EndingBalanceSeharusnya', 'INVTR', 'QTY',
       'SELISIH'],
      dtype='object')

In [45]:
ds_stok_out.columns == ds_stok_in.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [46]:
list_columns_merge = ds_stok_out.columns.tolist()

In [47]:
ds_merge.dtypes

Company                     object
DateFrom                     int64
Dateto                       int64
u_GROUP                     object
U_SUBGROUP                  object
ITEMCODE                    object
ITEMNAME                    object
OpeningBalanceQty          float64
OpeningBalanceAmt          float64
PembelianQty               float64
PembelianAmt               float64
PenjualanQty               float64
PenjualanAmt               float64
InventoryTransferQty         int64
InventoryTransferAmt         int64
AdjustmentQty              float64
AdjustmentAmt              float64
SAPOpnameQty               float64
SAPOpnameAmt               float64
EndingBalanceQty           float64
EndingBalanceAmt           float64
KET                         object
StokIn                       int64
StokOut                      int64
EndingBalanceSeharusnya      int64
INVTR                       object
QTY                        float64
SELISIH                     object
dtype: object

In [48]:
#Alternatives karena merging nilai float bisa dibulatkan dan tidak akurat.
ds_stok_in = ds_stok_in.astype(dtype='str')
ds_stok_out = ds_stok_out.astype(dtype='str')
ds_merge = ds_merge.astype(dtype='str')

In [49]:
ds_merge.merge(right=ds_stok_in, how='left', left_on=list_columns_merge, right_on=list_columns_merge)
ds_merge.merge(right=ds_stok_out, how='left', left_on=list_columns_merge, right_on=list_columns_merge)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt,KET,StokIn,StokOut,EndingBalanceSeharusnya,INVTR,QTY,SELISIH
0,mks,20251101,20251129,A-MEAT,nan,AAU2THR020,Aus Frz B Chuck Tender Ect,65.1,7845740.1348,0.0,...,0.0,13.85,1669178.2007,nan,0,0,0,12.30,13.85,-1.55
1,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1AMH003,Aus Chl A 2142 Striploin 1 Rib 3.6Kg Up,0.0,0.0,0.0,...,0.0,0.0,0.0,nan,0,0,0,0.00,0.0,0.00
2,mks,20251101,20251129,A-MEAT,01-BEEF,AAU1JBS008,Aus S 2142 Striploin 1 Rib (AMH),0.0,0.0,0.0,...,0.0,0.0,0.0,nan,0,0,0,0.00,0.0,0.00
3,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2AAC016,Aus Frz A 2160 Tenderloin SS/Off Aged AACO,4.66,1071794.0352,0.0,...,0.0,4.66,1071794.0352,nan,0,0,0,4.66,4.66,0.00
4,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2ACC001,Aus Frz Beef Heart ACC,0.0,0.0,0.0,...,0.0,0.0,0.0,nan,0,0,0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2413,mks,20251101,20251129,O-OTHERS,nan,RIN3NON006,"Box AG 75 T STD1/T.40cm (KW 1), PACKING",24.0,1584005.7564,0.0,...,0.0,37.0,2442000.0,nan,0,0,0,37.00,37.0,0.00
2414,mks,20251101,20251129,O-OTHERS,nan,RIN3NON007,"Box AG 75 T STD/T.40cm (KW 2), PACKING",78.0,3549000.0145,0.0,...,0.0,5.0,227422.5467,nan,0,0,0,5.00,5.0,0.00
2415,mks,20251101,20251129,O-OTHERS,nan,RIN3NON008,"Box AG 50 B STD/T.32cm (Styrofoam Kecil), PACKING",66.0,1903440.0,0.0,...,0.0,39.0,1124303.9772,nan,0,0,0,39.00,39.0,0.00
2416,mks,20251101,20251129,O-OTHERS,nan,RIN3NON009,Karton Coklat 520x370x265mm,529.0,3800957.0937,2755.0,...,0.0,2107.0,14769900.519,nan,0,0,0,2107.00,2107.0,0.00
2417,mks,20251101,20251129,O-OTHERS,nan,RIN3NON010,"Karton Coklat 520x370x265mm, PACKING",0.0,0.0,0.0,...,0.0,0.0,0.0,nan,0,0,0,0.00,0.0,0.00

In [50]:
ds_merge = ds_merge.astype({
    "Company":                     "object",
    "DateFrom":                    "int64",
    "Dateto":                      "int64",
    "u_GROUP":                     "object",
    "U_SUBGROUP":                  "object",
    "ITEMCODE":                    "object",
    "ITEMNAME":                    "object",
    "OpeningBalanceQty":           "float64",
    "OpeningBalanceAmt":           "float64",
    "PembelianQty":                "float64",
    "PembelianAmt":                "float64",
    "PenjualanQty":                "float64",
    "PenjualanAmt":                "float64",
    "InventoryTransferQty":        "float64",
    "InventoryTransferAmt":        "float64",
    "AdjustmentQty":               "float64",
    "AdjustmentAmt":               "float64",
    "SAPOpnameQty":                "float64",
    "SAPOpnameAmt":                "float64",
    "EndingBalanceQty":            "float64",
    "EndingBalanceAmt":            "float64",
    "StokIn":                      "float64",
    "StokOut":                     "float64",
    "EndingBalanceSeharusnya":     "float64",
    "INVTR":                       "float64",
    "QTY":                         "float64",
    "SELISIH":                     "float64"
})
ds_merge.dtypes

Company                     object
DateFrom                     int64
Dateto                       int64
u_GROUP                     object
U_SUBGROUP                  object
ITEMCODE                    object
ITEMNAME                    object
OpeningBalanceQty          float64
OpeningBalanceAmt          float64
PembelianQty               float64
PembelianAmt               float64
PenjualanQty               float64
PenjualanAmt               float64
InventoryTransferQty       float64
InventoryTransferAmt       float64
AdjustmentQty              float64
AdjustmentAmt              float64
SAPOpnameQty               float64
SAPOpnameAmt               float64
EndingBalanceQty           float64
EndingBalanceAmt           float64
KET                         object
StokIn                     float64
StokOut                    float64
EndingBalanceSeharusnya    float64
INVTR                      float64
QTY                        float64
SELISIH                    float64
dtype: object

In [51]:
ds_merge['EndingBalanceSeharusnya'] = ds_merge['OpeningBalanceQty'] + ds_merge['StokIn'] + ds_merge['StokOut']
ds_merge.sample(n=2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,SAPOpnameAmt,EndingBalanceQty,EndingBalanceAmt,KET,StokIn,StokOut,EndingBalanceSeharusnya,INVTR,QTY,SELISIH
2285,mks,20251101,20251129,I-BEVERAGES,nan,IUS2NAT010,Us Frz Natalie's Orange Beet Juice 24x250 ml,0.0,0.00,0.0,...,0.00,0.0,0.00,nan,0.0,0.0,0.0,0.0,0.0,0.0
1336,mks,20251101,20251129,C-POULTRY,12-DUCK,CID2LOC031,Frz Merdeka Hibrida Duck 1.10-1.19 Kg/Pcs,190.0,8704651.45,0.0,...,91627.91,192.0,8796279.36,nan,0.0,0.0,190.0,192.0,192.0,0.0

#### Checker EndingBalance = Sistem

In [52]:
ds_merge['Check EB = Sistem'] = ds_merge['EndingBalanceSeharusnya'] == ds_merge ['INVTR']
ds_merge['Check EB = Sistem'] = ds_merge['Check EB = Sistem'].astype(str)
ds_merge['Check EB = Sistem'] = ds_merge['Check EB = Sistem'].replace(to_replace="True", value="Sama")
ds_merge['Check EB = Sistem'] = ds_merge['Check EB = Sistem'].replace(to_replace="False", value="Beda")

# ds_merge.info()
ds_merge.sample(2)

,Company,DateFrom,Dateto,u_GROUP,U_SUBGROUP,ITEMCODE,ITEMNAME,OpeningBalanceQty,OpeningBalanceAmt,PembelianQty,...,EndingBalanceQty,EndingBalanceAmt,KET,StokIn,StokOut,EndingBalanceSeharusnya,INVTR,QTY,SELISIH,Check EB = Sistem
135,mks,20251101,20251129,A-MEAT,01-BEEF,AAU2HRV052,Aus Frz 6030 Beef Tongue Swiss Cut,0.0,0.0,0.0,...,0.0,0.0,nan,0.0,0.0,0.0,0.0,0.0,0.0,Sama
1916,mks,20251101,20251129,G-VEGETABLES,nan,GFR3DAU004,Daucy Ratatouille 12 X 375Gr,0.0,0.0,0.0,...,0.0,0.0,nan,0.0,0.0,0.0,0.0,0.0,0.0,Sama

In [53]:
ds_merge.to_excel(excel_writer="./RekapTest.xlsx", sheet_name="MAIN")